.app-container {
	padding: 32px;
	padding-top: 16px;
	min-height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input-field {
	border-radius: 5px;
	padding: 8px;
	min-width: 300px;
	outline: none;
	border: 1px #c3c3c3 solid;
}

.matrix-input {
	width: 100px;
	padding: 4px;
	border: none;
}

.hw1-input {
	border: 1px #c3c3c3 solid;
	border-radius: 5px;
}

.matrixContainer {
	margin-right: 16px;
	margin-bottom: 16px;
}

.inline {
	display: inline-block;
}
.marginRight { margin-right: 32px; }
.margin-top { margin-top: 24px; }
.margin-bottom { margin-top: 24px; }
.no-margin-top { margin-top: 0; }
.no-margin { margin: 0; }
.linearText {
	font-size: 1.2em;
	width: 100%;
	margin-bottom: 16px;
}
input:disabled {
	background-color: #fafafa;
	color: black;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.github-link {
	background-image: url('https://image.flaticon.com/icons/svg/25/25231.svg');
	background-repeat: no-repeat;
  	background-size: cover;
	width: 3em;
	height: 3em;
	border-radius: 100px;
}

/* flex-box */
.flex { display: flex; }
.column { flex-direction: column; }
.stretch { align-content: flex-start; }

.align-items-center { align-items: center; }

.justify-content-center { justify-content: center; }

/* btns */

.btn {
	outline: none;
	padding: 6px;
	border: 1px #2b76ff solid;
	border-radius: 10px;
	cursor: pointer;
	color: #2b76ff;
	background: #fff;
}
.btn:hover { background: #f3f3f3 }
.btn:disabled { 
	background: #f3f3f3; 
	cursor: default;
}

.selected-btn {
	background-color: #2bbfc4;
}

/* table */

.table {
	border-radius: 10px;
	border: 1px #c3c3c3 solid;
	overflow: hidden;
}

.table .header {
	width: 100px;
}

.table .header:first-child {
	width: 70px;
}

.table .section input, .table .section div, .table .header {
	display: flex;
	border-right: 1px #c3c3c3 solid;
	min-width: 70px;
	height: 30px;
	justify-content: center;
	align-items: center;
	padding: 4px;
}
.table .section, .table .header { border-bottom: 1px #c3c3c3 solid; }
.table .section:last-child { border-bottom: none; }
.table div:last-child, .table input:last-child { border-right: none; }